# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------
# Virtual Environments
# ----------------------
venv/
env/
.venv/

# ----------------------
# Environment Variables
# ----------------------
.env
.env.*

# ----------------------
# Logs
# ----------------------
*.log
logs/

# ----------------------
# Flask
# ----------------------
instance/
.webassets-cache

# ----------------------
# Pytest / Testing
# ----------------------
.pytest_cache/
.coverage
htmlcov/

# ----------------------
# OS Files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# IDE / Editor
# ----------------------
.vscode/
.idea/

# ----------------------
# Docker
# ----------------------
*.tar

# ----------------------
# Misc
# ----------------------
*.sqlite3
*.db